<table class="table table-striped text-center">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Larry the Bird</td>
      <td>larry@mail.com</td>
      <td>Member</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Larry the Bird</td>
      <td>larry@mail.com</td>
      <td>Member</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Larry the Bird</td>
      <td>larry@mail.com</td>
      <td>Member</td>
    </tr>
  </tbody>
</table>
