<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('../partials/head') %>
  </head>
  <body class="container">
    <div style="height: 100vh" class="align-content-center"><%- body %></div>
    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
